<center>
  <img src="https://media.giphy.com/media/l3vRmoOpMBTLrPEsw/giphy.gif" height="300px" width="600px">
  <p>Input your peep below:</p>
  <form action="/new_peep" method="post">
    <input type="text" name="peep">
    <input type="submit" value="Submit">
  </form>
</center>
